<template>
   <div
      :class="[
                'inquiries__list-item inquiries__list-item--short list-item',
                item.offer_accepted ? 'list-item--accepted' : '',
                item.owner ? 'list-item--owner' : 'list-item--' + item.service_type,
                item.made_an_offer && ! item.offer_declined && ! item.offer_accepted && !item.payed_an_offer ? 'list-item--waitting' : ''
            ]"
   >
      <div @click="open">
         <div>
            <div class="d-flex align-center">
               <div class="flex">
                  <div class="inquiry-tag">
                     <template v-if="item.owner">
                        Susidomėjo: {{ item.offer_count }}
                     </template>
                     <template v-else-if="item.made_an_offer && ! item.offer_declined && ! item.offer_accepted && !item.payed_an_offer">
                        Laukiama
                     </template>
                     <template v-else>
                        {{ item.time_ago }}
                     </template>
                  </div>
                  <div class="inquiry-id">
                     Nr. {{ item.id }}
                  </div>
                  

                  <div class="inquiry-info">
                     <strong class="inquiry-info__service">{{ item.sum_up }}</strong>
                  </div>
               </div>
                <div class="inquiry-expand">
                      <v-btn
                        color="primary"
                        width="100px"
                        class="v-btn--submit v-btn--no-gutter"
                     >
                        Iškleisti
                     </v-btn>
                    <v-btn v-if="item.owner"
                        color="red"
                        width="100px"
                        class="v-btn--submit v-btn--no-gutter"
                        @click="openDeleteModal(item.id)"
                     >
                        Trinti
                     </v-btn>
                </div>
               <div v-if="item.offer_accepted" style="min-width: 60px;">
                  <countdown
                     :time="item.end_time"
                     :transform="transform"
                     class="list-item__counter"
                  >
                     <template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
                  </countdown>
               </div>
            </div>
         </div>

         <div
            :class="[extended ? '' : 'd-none', 'list-item__hidden-part']"
         >
            <ul class="inquiry-data">
               <!--                            <li><span>Segmentas: </span> {{ item.property_type_name }}</li>-->
               <!--                            <li><span>Lokacija: </span> {{ item.region_name }}</li>-->
               <!--                            <li><span>Kaina: </span> {{ item.price }}</li>-->
               <li><span>Aprašymas: </span><br>
                  <nl2br tag="div" :text="item.requirements" class="inquiry-info__property_type"/>
               </li>
               <template v-if="item.made_an_offer && item.payed_an_offer && item.in_archive">
                  <li><span>Tel. Nr.: </span><br>
                     {{ item.secured_data.phone }}
                  </li>
                  <li><span>El. p.:</span><br>
                     {{ item.secured_data.email }}
                  </li>
               </template>
            </ul>
         </div>
      </div>
      <div
         :class="[extended ? '' : 'd-none', '']"
      >
         <template v-if="item.owner">
            <v-btn
               color="primary"
               width="100%"
               class="v-btn--submit v-btn--no-gutter"
               :href="item.link"
            >
               Peržiūrėti
            </v-btn>
            <template v-if="! item.active && item.status === 'reviewed'">
               <v-btn
                  v-if="! item.in_archive"
                  color="primary"
                  width="100%"
                  class="v-btn--submit v-btn--no-gutter mt-4"
                  @click="archive"
               >
                  Įvykdyta
               </v-btn>
               <template
                  v-else
               >
                  <v-btn
                     color="red"
                     width="100%"
                     class="v-btn--submit v-btn--no-gutter mt-4"
                     @click="eraseFromArchive"
                  >
                     Ištrinti
                  </v-btn>
               </template>
            </template>
         </template>

         <template v-else-if="! item.made_an_offer">
            <v-btn
               color="primary"
               width="100%"
               @click="$emit('doOffer', item)"
               class="v-btn--submit v-btn--no-gutter"
            >
               Siūlyti
            </v-btn>
         </template>

         <template v-else-if="item.made_an_offer && item.offer_accepted">
            <v-btn
               color="primary"
               width="100%"
               class="v-btn--submit v-btn--no-gutter"
               :href="item.pay_link"
            >
               Apmokėti {{ item.offer_price }}
            </v-btn>
         </template>

         <template v-else-if="item.made_an_offer && item.payed_an_offer">
            <template
               v-if="! item.archived"
            >
                <a v-bind:href="'tel:'+item.secured_data.phone">
                    <v-btn
                       color="primary"
                       width="100%"
                       class="v-btn--submit v-btn--no-gutter"
                       style="user-select:all"
                    >
                       Tel. Nr.: {{ item.secured_data.phone }}
                    </v-btn>
                </a>
                <a v-bind:href="'mailto:'+item.secured_data.email">
                    <v-btn
                       color="primary"
                       width="100%"
                       class="v-btn--submit v-btn--no-gutter mt-4"
                       style="user-select:all"
                    >
                       El. p.: {{ item.secured_data.email }}
                    </v-btn>
                </a>
            </template>
  
            <template v-if="item.archived_by_owner">
               <v-btn
                  v-if="! item.in_archive"
                  color="primary"
                  width="100%"
                  class="v-btn--submit v-btn--no-gutter mt-4"
                  @click="archive"
               >
                  Įvykdyta?
               </v-btn>
               <template
                  v-else
               >
                  <v-btn
                     v-if="currentCompanyRoute"
                     width="100%"
                     class="v-btn--submit v-btn--no-gutter mt-4"
                     :href="currentCompanyRoute"
                  >
                     Skaityti atsiliepimą
                  </v-btn>
                  <v-btn
                     color="red"
                     width="100%"
                     class="v-btn--submit v-btn--no-gutter mt-4"
                     @click="eraseFromArchive"
                  >
                     Ištrinti
                  </v-btn>
               </template>
            </template>
         </template>

         <template v-else>
            <v-btn
               color="primary"
               width="100%"
               class="v-btn--submit v-btn--no-gutter"
               disabled
            >
               <template v-if="item.made_an_offer && item.offer_declined">
                  Pasiulymas atmestas
               </template>
               <template v-else>
                  Pasiulymas jau išsiųstas
               </template>
            </v-btn>
         </template>
      </div>
   </div>
</template>

<script>
   import Nl2br from 'vue-nl2br';
   import countdown from '@chenfengyuan/vue-countdown';

   export default {
      name: "Inquiry",
      data() {
         return {
            extended: false,
         }
      },
      props: {
         item: {
            type: Object
         },
         expand: {
            type: String
         },
         currentCompanyRoute: {
            type: [String, Boolean],
            default() {
               return false
            }
         },
      },
      components: {
         Nl2br,
         countdown
      },
      mounted(){
          
        if(this.expand && this.item.id == this.expand) {
            
            this.open();
        }
      },
      methods: {
         openDeleteModal(id){
             console.log("dsafuhgiausf",id);
             this.$parent.openDeleteModal(id);
         },
         transform(props) {
            Object.entries(props).forEach(([key, value]) => {
               // Adds leading zero
               const digits = value < 10 ? `0${value}` : value;

               props[key] = `${digits}`;
            });

            return props;
         },

         archive() {
            this.$parent.openarchiveModal(this.item.id);
            return;
//            axios.post(`/uzklausos/${this.item.id}/archyvuoti`)
//            .then(response => {
//               setTimeout(function(){
//                  location.reload();
//               }, 2000);
//            }).catch(error => {
//               setTimeout(function(){
//                  location.reload();
//               }, 2000);
//            });
         },

         eraseFromArchive() {
            axios.post(`/uzklausos/${this.item.id}/istrinti-archyva`)
            .then(response => {
               setTimeout(function(){
                  location.reload();
               }, 2000);
            }).catch(error => {
               setTimeout(function(){
                  location.reload();
               }, 2000);
            });
         },

         open() {
            if (this.extended) {
               this.extended = false;
            } else {
               this.extended = true;
            }
         }
      }
   }
</script>

<style scoped>

</style>
